.btn {
  font-size: 1em;
  color: white;
  background-color: hsl(229, 77%, 55%);
  vertical-align: top;

  padding: 1em;
  border: none;
  border-radius: 5px;
  margin: 5px;
  outline: none;

  cursor: pointer;

  &:hover {
    background-color: hsl(229, 90%, 45%);
  }

  &:active {
    background-color: hsl(229, 90%, 35%);
  }
}

.btn:focus,
input[type='range']:focus {
  outline: 1px solid hsl(229, 90%, 55%);
  outline-offset: 2px;
}

.btn-random {
  background-color: hsl(39, 90%, 55%);

  &:hover {
    background-color: hsl(39, 90%, 45%);
  }

  &:active {
    background-color: hsl(39, 90%, 35%);
  }
}

.btn-colors {
  background-color: hsl(118, 80%, 50%);

  &:hover {
    background-color: hsl(118, 80%, 40%);
  }

  &:active {
    background-color: hsl(118, 80%, 30%);
  }
}

.btn-share {
  display: inline-block;
  cursor: pointer;
  padding: 10px;
  font-size: 1.2em;

  opacity: 0.9;

  &:active,
  &:hover {
    opacity: 1;
    color: #101010;
  }

  &:link,
  &:visited {
    color: inherit;
  }
}
