.hide-axis {
  display: inline-block;
  padding: 10px;
  cursor: pointer;

  span {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
  }

  input[type='checkbox'] {
    cursor: pointer;
  }
}

.select-method {
  select {
    font-size: 1em;
    // color: white;
    background-color: white;
    vertical-align: top;

    padding: 0.3em 1em;

    vertical-align: middle;
    border: 1px solid hsl(0, 0%, 75%);
    border-radius: 5px;
    margin: 5px;
    outline: none;

    cursor: pointer;
  }
}
