/* ----------------------------------- */
/*         Controls and canva          */
/* ----------------------------------- */
.zoom-in {
  cursor: zoom-in;
}

.zoom-out {
  cursor: zoom-out;
}

.move {
  cursor: crosshair;
}

.crosshair {
  cursor: crosshair;
}

/* ------------------------------ */
/*          canva Styles          */
/* ------------------------------ */

/* Zooom Controls */
.zoom-controls {
  position: absolute;
  bottom: 0;
  right: 0;
}

.zoom-controls button {
  cursor: pointer;
  display: block;
  border: none;
  padding: 10px;

  background-color: #eee;
}

.zoom-controls button:first-child {
  border-top-left-radius: 1em;
}

.zoom-controls button:not(:first-child) {
  border-top: solid 1px #ddd;
}

.zoom-controls button:hover {
  opacity: 1;
  background-color: #777;
  color: white;
}

.zoom-controls button:active,
.zoom-controls button.active {
  opacity: 1;
  background-color: #444;
  color: white;
}

.zoom-controls button:focus {
  outline: 1px solid hsl(229, 90%, 55%);
}

.zoom-level {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
  background-color: #eee;
  color: black;
  border-top-right-radius: 10px;
  user-select: none;
}

.zoom-controls button,
.zoom-level {
  opacity: 0.6;
}

.zoom-level:hover {
  opacity: 1;
}
